@charset "utf-8";
body {cursor:url('../images/common/cursor-pointer.png'), auto;}
a,
button {cursor:url('../images/common/cursor-hand.png'), auto;}
a:active,
button:active {cursor:url('../images/common/cursor-click.png') 12 12, auto;}


/* layout */
.commonContainer {padding-top:100px; transition:all .3s;}
.mainContainer {margin:0 auto; width:100%; max-width:1200px;}
.header {position:fixed; left:0; top:0; z-index:1000; width:100%; height:100px; transition:all .3s;}
.header .bi {display:block; position:absolute; left:32px; top:22px; width:65px; height:65px; text-align:center;}
.header .bi a {display:block; line-height:32px; color:#666; font-size:20px; font-weight:600; transition:all .3s;}
.header .message {visibility:visible; line-height:100px; color:#444; font-size:22px; font-weight:600; text-align:center;}
.header .message span {display:inline-block; color:tomato; animation:scaleBounce 3s linear infinite; transition:transform .3s; animation-play-state:play;}
.header .message.stop span {animation-play-state:paused;}
.header.minSize .message {visibility:hidden;}
.header .menuButtonWrap {display:block; position:absolute; right:32px; top:22px; z-index:1100; width:66px; height:66px; border:1px solid #444; transition:all .3s;}
.header .menuButtonWrap .txtView {position:absolute; content:"MENU"; left:-70px; top:50%; transform:translateY(-50%); transition:all .3s;}
.header .menuButtonWrap .txtView:after {display:block; content:"MENU"; color:#333; font-size:16px; font-weight:600; transition:all .3s;}
.header .menuButtonWrap.active .txtView:after {content:"CLOSE";}
.header .menuButtonWrap .buttonView {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:22px; height:18px;}
.header .menuButtonWrap .buttonView span {display:block; position:absolute; left:0; width:100%; height:4px; background:#333; transition:all .3s}
.header .menuButtonWrap .buttonView .bar01 {top:0;}
.header .menuButtonWrap .buttonView .bar03 {bottom:0;}
.header .menuButtonWrap .buttonView .bar02 {top:50%; margin-top:-2px; width:50%; opacity:1;}
.header .menuButtonWrap:hover .buttonView .bar02 {width:90%;}
.header .menuButtonWrap.active {background:#333;}
.header .menuButtonWrap.active .buttonView span {background:#fff;}
.header .menuButtonWrap.active .buttonView .bar01 {transform:matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 7);}
.header .menuButtonWrap.active .buttonView .bar03 {transform:matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, -7);}
.header .menuButtonWrap.active .buttonView .bar02 {left:70%; opacity:0;}
.projectView .header .bi a,
.projectView .header .message,
.projectView .header .menuButtonWrap .txtView:after {color:#fff;}
.projectView .header .menuButtonWrap .buttonView span {background:#fff;}
.projectView .header .menuButtonWrap {border:1px solid #fff;}
.footer {margin-top:80px;}
.footer .innerBox {margin:0 auto; padding:80px 8% 0; width:100%; max-width:1200px; background:#222; box-sizing:border-box;}
.footer .innerBox .topRow {padding:0 0 50px;}
.footer .innerBox .topRow .info .address,
.footer .innerBox .topRow .info .tel {color:#8f8f8f; font-size:14px; font-weight:600; font-style:normal;}
.footer .innerBox .topRow .info .address strong {display:block; margin-bottom:15px; color:#fff; font-size:18px;}
.footer .innerBox .topRow .info .tel {margin-top:12px;}
.footer .innerBox .bottomRow {padding:50px 0; text-align:center; border-top:1px solid #333;}
.footer .innerBox .bottomRow .snsRow {font-size:0; text-align:center;}
.footer .innerBox .bottomRow .snsRow a {display:inline-block; margin:0 5px; width:50px; height:50px; overflow:hidden; font-size:0; text-indent:-9999px; background:#666; border-radius:6px; transition:background .3s;}
.footer .innerBox .bottomRow .snsRow a:hover {background:#fff;}
.footer .innerBox .bottomRow .copyright {margin-top:40px; color:#8f8f8f; font-size:13px; font-weight:600;}
.projectView .footer {position:relative; margin-top:0; padding-top:80px; background:#fff;}
.slideMenu {position:fixed; left:0; top:0; z-index:1000;}
.slideMenu .dim {visibility:hidden; opacity:0; position:fixed; left:0; top:0; z-index:1000; width:100%; height:100%; background:rgba(0,0,0,.6); transition:all .3s;}
.slideMenu .menuBox {position:fixed; right:-500px; top:0; z-index:1100; padding:60px; width:500px; height:100%; box-sizing:border-box; background:#fff; opacity:0; transition:all .3s;}
.slideMenu .menuBox ul {position:absolute; top:50%; transform:translateY(-50%); width:calc(100% - 120px);}
.slideMenu .menuBox ul li a {display:block; position:relative; padding:7px 0; color:#666; font-size:32px;}
.slideMenu .menuBox ul li a:hover::after {display:block; content:""; position:absolute; left:0; top:50%; margin-top:-2px; width:100%; height:4px; background:yellowgreen; opacity:.5;}
.slideMenu.active .dim {visibility:visible; opacity:1; transition:all .3s;}
.slideMenu.active .menuBox {right:0; opacity:1; transition:all .3s;}


/* common */
.mask {position:fixed; bottom:-100%; left:0; z-index:1000; width:100%; height:100%; transition:bottom .5s;}
.mask.active {bottom:0;}
.mask.actived {bottom:100%;}
.mask.m01 {background:yellowgreen;}
.mask.m02 {background:seagreen;}
.mask.m03 {background:slategray;}
.loading {position:fixed; bottom:-367px; left:50%; z-index:1100; transform:translateX(-50%); transition:bottom .5s;}
.loading.active {bottom:20px; text-align:center;}
.loading.actived {bottom:100%;}


/* components */
.projectList {width:100%;}
.projectList ul {zoom:1;}
.projectList ul:after {display:block; content:""; clear:both;}
.projectList .list .item {position:relative; float:left; padding-top:50%; width:50%; background-size:cover; overflow:hidden;}
.projectList .list .item > a {position:absolute; left:0; top:0; width:100%; height:100%;}
.projectList .list .item > a img {display:none;}
.projectList .list .item .client {position:absolute; left:20px; bottom:20px; z-index:10; color:#fff; font-size:18px; font-weight:600;}
.projectList .list .item .detailWrap {opacity:0; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; background:rgba(0,0,0,.8); transition:all .3s;}
.projectList .list .item a:hover .detailWrap {opacity:1;}
.projectList .list .item .detail {position:absolute; left:0; top:50%; transform:translateY(-50%); padding:0 20px; width:calc(100% - 40px);}
.projectList .list .item .detail .bar {display:block; margin:0 auto; width:35px; height:4px; background:#fff;}
.projectList .list .item .detail .subject,
.projectList .list .item .detail .date {color:#fff;}
.projectList .list .item .detail .subject {margin-top:30px; font-size:22px; font-weight:600;}
.projectList .list .item .detail .date {margin-top:10px; font-size:12px;}
.projectList .list .item .detail .arrow {display:block; position:relative; left:50%; margin:24px 0 0 -43px; width:46px; height:12px; background:url('../images/common/icon-arrow-right.png') no-repeat center; opacity:0; transition:all .3s;}
.projectList .list .item a:hover .detail .arrow {margin-left:-23px; opacity:1;}
.projectList .btnItemLoad {display:block; margin-top:30px; padding:15px 0; width:100%; color:#444; font-size:18px; font-weight:600; text-align:center;}
.projectList .btnItemLoad:before {display:block; content:"↓";}


/* animation */
@keyframes scaleBounce {
     5%, 15% {transform:scale(.9);}
     10%, 20% {transform:scale(1.1);}
     25%, 100% {transform:scale(1);}
 }



/***** 
    responsive 
                */
@media (min-width:1421px) and (max-width:1555px) {
    .header .menuButtonWrap {width:52px; height:52px;}
    .header .menuButtonWrap .txtView {left:0; top:calc(100% + 16px); width:52px; text-align:center;}
    .header .menuButtonWrap .txtView:after {font-size:14px;}
}

@media screen and (max-width:1420px) {
    .header {height:60px; background:#fff;}
    .header .bi {left:12px; top:10px; width:50px; height:50px;}
    .header .bi a {line-height:20px; font-size:17px;}
    .header .message {line-height:60px;}
    .header.minSize .message {visibility:visible;}
    .header .menuButtonWrap {top:5px; right:4px; width:50px; height:50px; border:none;}
    .header .menuButtonWrap .txtView {display:none;}

    .projectView .header .bi a,
    .projectView .header .message,
    .projectView .header .menuButtonWrap .txtView:after {color:#444;}
    .projectView .header .menuButtonWrap .buttonView span {background:#444;}
    .projectView .header .menuButtonWrap {border:1px solid #444;}

    .commonContainer {padding-top:60px;}
}

@media (min-width:961px) and (max-width:1280px) {

}
@media (min-width:681px) and (max-width:960px) {
    .projectList .list .item .detailWrap {opacity:1; background:none;}
}
@media screen and (max-width:680px) {
    .commonContainer {padding:60px 4%;}
    .mainContainer {width:92%;}
    .projectList .list .item {float:none; margin-top:25px; padding-top:0; width:100%; background:none !important;}
    .projectList .list .item:first-child {margin-top:0;}
    .projectList .list .item > a {position:static;}
    .projectList .list .item > a img {display:block; width:100%;}
    .projectList .list .item .detailWrap {position:static; height:auto; background:none; opacity:1;}
    .projectList .list .item .detail {position:static; transform:translateY(0); padding:0 10px; width:100%;}
    .projectList .list .item .client,
    .projectList .list .item .detail .bar,
    .projectList .list .item .detail .date,
    .projectList .list .item .detail .arrow {display:none;}
    .projectList .list .item .detail .subject {margin-top:20px; color:#444; font-size:18px; text-align:left;}

    .loading img {width:50%;}
}